@import "fonts";
@import "constants";
@import "common";

html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: $background-color !important;
  min-height: 100%;

  a:visited, a:hover {
    color: #28a745;
    background-color: transparent !important;
  }

  a::-moz-focus-inner, select::-moz-focus-inner {
    border: 0;
  }

  select, a {
    outline: none;
  }

  a {
    color: #28a745;
  }

  p {
    color: white;
  }
}

.container {
  @media (max-width: $displaySizeLarge) {
    width: 100%;
    max-width: 100%;
  }
}
