@import "fonts";
@import "constants";
@import "common";

html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: $background-color !important;
  min-height: 100%;

  a:visited, a:hover {
    text-decoration: none;
    background-color: transparent !important;
    //background-color: transparent !important;
  }

  a.vbst-item:visited, a.vbst-item:hover {
    text-decoration: none;
    background-color: $main-color-3 !important;
    border: 1px solid $main-color-3;
  }


  .container {
    max-width: 768px;
    padding: 0;
  }

  a::-moz-focus-inner, select::-moz-focus-inner {
    border: 0;
  }

  select, a {
    outline: none;
  }

  a {
    color: #28a745;
  }

  p {
    color: white;
  }
}

.container {
  @media (max-width: $displaySizeLarge) {
    width: 100%;
    max-width: 100%;
  }
}

.vbt-autcomplete-list {
  padding-top: 0 !important;
  .list-group-item {
    border-radius: 0;
  }
}
