$main-color-1: #121d2a;
$main-color-2: #488f3f;
$main-color-3: #FBBC0B;

$main-color-4: #BF0000;




$background-color: #131524;
$background-color-elements: #eaeaea;

$displaySizeSmall: 768px;
$displaySizeLarge: 1200px;
